@import url('https://fonts.googleapis.com/css2?family=Khand&display=swap');
    .pie-pagina {
    width: 100%;
    background-color: rgb(52, 58, 60);
    font-family: 'Khand', sans-serif; 
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100px;
    justify-content: center;
  }
  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
    height: 100px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .redes img {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
  }
  .pie-pagina .grupo-1 .redes img:hover {
    background: #000000;
    border: 3px solid #1B012B;
    border-radius: 20px;
  }
  .pie-pagina .grupo-2 {
    background-color: #000000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  @media screen and (max-width: 800px) {
    .pie-pagina .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
    }
  }
  header{
      height: 6rem;
      padding: 50px;
    }
    
    #information {
      background-color: #1B012B;
      width: 100%;

    }
    
    .titulo{
        font-family: 'Titan One', cursive;
        -webkit-text-stroke: 2px black;
        color: #ffffff; 
    }
    .titulo2{
      font-family: 'Titan One', cursive;
      -webkit-text-stroke: 2px black;
      color: #ffffff; 
  }
    #txtBt{
      font-family: 'Khand', sans-serif; 
    }
    #button{
        height:50px;
        width:338px
    }
    h4{
        padding-left: 30px;
        padding-top: 15px;
        font-family: 'Titan One', cursive;
        -webkit-text-stroke: 2px black;
        color: #f8f8f8; 
    }
    h5{
        padding: 25px;
        text-align: justify;
        font-family: 'Khand', sans-serif;
        color: #f8f8f8; 
    }

    .rejilla{
        display: flex;
        flex-wrap: wrap;
 
    }
    #button{
        font-size:20px;   
        font-family: 'Titan One', cursive;
        -webkit-text-stroke: 2px black;
        color: #1B012B; 
    }
    .formulario{
      font-family: 'Khand', sans-serif;   
      padding: 30px;
      width: 400px;
      height: 420px;
      border: 5px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: rgb(52, 58, 60);
      color: #efefef;
     
    }
    .formulario2{
      font-family: 'Khand', sans-serif;   
      padding: 30px;
      width: 400px;
      height: 790px;
      border: 5px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: rgb(52, 58, 60);
      color: #efefef;
     
    }
    .formulario3{
      font-family: 'Khand', sans-serif;   
      padding: 30px;
      width: 400px;
      height: 1170px;
      border: 5px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: rgb(52, 58, 60);
      color: #efefef;
     
    }
    .formulario4{
      font-family: 'Khand', sans-serif; 
      padding-top : 30px; 
      padding-bottom : 30px;   
      padding-left: 15px;
      padding-right: 15px;
      width: 380px;
      height: 800px;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: rgb(52, 58, 60);
      color: #efefef;
     
    }
    .formulario5{
      font-family: 'Khand', sans-serif;   
      padding: 30px;
      width: 400px;
      height: 560px;
      border: 5px solid rgb(255, 255, 255);
      border-radius: 20px;
      background-color: rgb(52, 58, 60);
      color: #efefef;
     
    }
    .tabla{
      padding-top: 10px;
      font-family: 'Khand', sans-serif;   

    }
    #alejandro{
      color:#1B012B;
    }
  